[submodule "backend"]
	path = backend
	url = https://github.com/2024-Summer-Bootcamp-team-C/Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/2024-Summer-Bootcamp-team-C/Frontend.git
